<!DOCTYPE html>
<html>

<head>
  <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/> -->
  <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="./styles/main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title> Bernadette's Portfolio </title>
</head>

<body>

  <div class="hero-text">

      <nav class="nav-links">
          <ul>
            <li>
              <a href="./profile">About me</a>
            </li>
            <li>
              <a href="/projects">Projects</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </nav>    

    <h1 class="center-text">Hello! I'm <%= person.firstName %> <%= person.lastName %>,<br> a full-stack developer in San Diego. </h1>
    
  
    

  </div>
</body>

</html>